*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: blue;
}

.input{
    padding: 12px 5px;
    font-size: 18px;
    border: solid #0f0011;
    width: 40%;
    background-color: #CBE6C9; 
    font-style: italic;
    font-weight: bold;
    color: blue;
}
.button{
    border:  1px solid #0f0011;
    font-size: 18px;
    width: 40%;
    color: red;
    
 }