{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/index1.css' %}" />
</head>
<body>
    <form method="POST">
        <h2>Добавить книгу</h2><br><br>
        <input class="input"
        type="text" name="title" placeholder="Заголовок"><br><br>
        <input class="input"
        type="text" name="subtitle" placeholder="Подзаголовок"><br><br>
        <input class="input"
        type="text" name="description" placeholder="Описание"><br><br>
        <input class="input"
        type="number" name="price" placeholder="Цена"><br><br>
        <input class="input"
        type="text" name="genre" placeholder="Жанр"><br><br>
        <input class="input"
        type="text" name="author" placeholder="Автор"><br><br>
        <input class="input"
        type="datetime-local" name="year" placeholder="Год выхода книги"><br><br>
        <button class="button">Добавить</button>
        
    </form>

    </body>
</html>